<h1>Add a New Tool</h1>
<div id="tool_form">
  <%= form_with url:  do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :photo, "Tool Photos" %><br />
      <%= f.file_field :photo %>
    </p>
    <p>
      <%= f.submit "Add Tool" %>
    </p>
  <% end %>
</div>