<h1>Add a New Tool</h1>
<div id="tool_form">
  <%= form_with url: user_tools_path, method: :post do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.file_field :image, id: "upload_image", name: "image" %>
    </p>
    <p>
      <%= f.submit "Add Tool" %>
    </p>
  <% end %>
</div>