<h1><%= @tool.name %></h1>
<p><%= @tool.description %></p>
<img src="<%= @tool.image %>" alt="<%= @tool.name %>">
<p><%= @tool.address %></p>
<p><%= @tool.status %></p>
<% if @tool.status == "available" %>
  <%= form_with url: "/tools/#{@tool_id}", method: :patch do |form| %>
    <%= form.hidden_field :status, value: "unavailable" %>
    <%= form.submit "Borrow This Tool" %>
  <% end %>
<% end %>