<%= form_with url: "/tools", method: :get, local: true do |f| %>
  <%= f.label :tool %>
  <%= f.text_field :tool %>
  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.submit "Search" %>
<% end %>


<h2>What kind of project can we help you with?</h2>
<%= form_with url: "/welcome", method: :post, local: true do |f| %>
  <%= f.label :project %>
  <%= f.text_field :project %>
  <%= f.submit "Submit" %>
<% end %>

